:root {
  /* Eight branches color variables */
  --color-beige: #F5F1E5;
  --color-lightgreen: #82AF82;
  --color-darkgreen: #316C5F;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #D33A21;
}

@font-face {
  font-family: "Reckless-book";
  src: url(../src/fonts/recklessneue-book.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "Reckless-light";
  src: url(../src/fonts/recklessneue-light.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "Matter-regular";
  src: url(../src/fonts/matter-regular.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "Matter-light";
  src: url(../src/fonts/matter-light.woff2) format("woff2");
  font-display: fallback;
} 



/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}


body {
  margin: 0;
}
/* Heading */

html {
  overflow-y: scroll;
}

h1 {
  font-family: "Reckless-light";
  font-size: 56px;
  line-height: 60px;
}

h2 {
  font-family: "Matter-light";
  font-size: 64px;
  line-height: 70px;
}

h3 {
  font-family: "Matter-light";
  font-size: 30px;
  line-height: 40px;
}

h4 {
  font-family: "Reckless-book";
  font-size: 30px;
  line-height: 40px;
}

h5 {
  font-family: "Matter-light";
  font-size: 20px;
  line-height: 26px;
}

p {
  font-size: 14px;
  line-height: 21px;
}

h1 > a
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p,
a {
  font-weight: 300;
  margin: 0;
}

p {
  font-family: "Matter-regular";
}
blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}


/* Link */
a:hover,
a:focus {
  text-decoration: none;
}


/* Media queries */
@media (max-width: 42rem) {
}